<section id="section1" class="homepage-hero-module">
    <div class="hero-text-container flex-box">
        <div class="hero-text">
            <h1>Hi, I`m Daniil</h1>
            <h4>Front-End Developer | Inspired by Web</h4>
        </div>
        <div class="hero-text">
            <a class="arrow-down" href="#cd-timeline" (click)="triggerScrollTo('cd-timeline')">
              <img height="100px" class="pulse" src="assets/img/mouse_down.svg" alt="">
            </a>
        </div>
    </div>
    <div class="overlay"></div>

    <div class="video-container">
        <div id="myBlock" style="width: 100%; height: 100%; z-index: 0">
        </div>
    </div>
</section>
