<section id="home" class="homepage-hero-module">
    <div class="hero-text-container flex-box">
        <div class="hero-text">
            <h1 class="hero-text__header">
              <span>{{ greeting | translate:param }}</span><span class="hero-text__header-name"></span>
            </h1>
            <h4 class="hero-text__position">Frontend Software Engineer | Inspired by Web</h4>
        </div>
        <div class="hero-text">
            <a class="arrow-down" (click)="triggerScrollTo('timeline')">
              <img height="100px" class="pulse" src="assets/img/mouse_down.svg" alt="Scroll down">
            </a>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="video-container">
        <video autoplay muted loop id="myVideo">
          <source src="assets/video/Aloha-Mundo.mp4" type="video/mp4">
        </video>
    </div>
</section>
