<header class="header animated">
    <nav class="nav-transparent flex-box">
        <div class="logo-name">
            <a class="logo-name__text" (click)="triggerScrollTo('home')">
              D<span class="logo-name__text__rest-text">aniil Sydorenko</span>
            </a>
        </div>
        <div class="menu-btn-wrapper" (click)="toggleMenu()" [ngClass]="{ 'open': state }">
            <span class="menu-btn-line" *ngFor="let n of buttonLines"></span>
        </div>
    </nav>
</header>
<app-menu [state]="state" (stateEmitter)="toggleMenu()"></app-menu>
