<div class="img-fix project-{{ project['path'] }}" [ngClass]="{active: activeClass}" (click)="activeClass = !activeClass">
  <div class="project-overlay"></div>
  <div class="project-caption flex-box">
    <div class="project-caption__inner">
      <h3 class="project-caption__inner-title">{{project['data'].title}}</h3>
      <a class="project-caption__inner-link" href="{{project['url']}}" target="_blank">
        <span class="project-caption__inner-link-text">{{linkText}}</span>
      </a>
    </div>
  </div>
</div>
