<div id="home" class="responsiveMobileMenu">
    <ul class="mobileMenu flex-box" role="menubar">
        <li class="show">
            <a class="scroll" href="#section1" role="menuitem" (click)="triggerScrollTo('section1')">
                <h3>Home</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#cd-timeline" role="menuitem" (click)="triggerScrollTo('cd-timeline')">
                <h3>Proffesional life</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section3" role="menuitem" (click)="triggerScrollTo('section3')">
                <h3>Skills</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section4" role="menuitem" (click)="triggerScrollTo('section4')">
                <h3>Projects</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section5" role="menuitem" (click)="triggerScrollTo('section5')">
                <h3>Contact</h3>
            </a>
        </li>
    </ul>
</div>
