<div>
    <div class="cd-timeline-img is-hidden">
        <i class="fa fa-{{timelineBlock.iconClass}}" aria-hidden="true"></i>
    </div>
    <div class="cd-timeline-content is-hidden">
        <h2>{{timelineBlock.title}}</h2>
        <h4>{{timelineBlock.position}}</h4>
        <p [ngClass]="{'hide': toggleBlock}">{{timelineBlock.responsibilities}}</p>
        <span *ngIf="timelineBlock.responsibilities && showMore" class="show-more" (click)="toggleBlock = !toggleBlock">
          <strong>{{toggleBlock ? 'Show more >' : '< Show less'}}</strong>
        </span>
        <span class="cd-date">{{timelineBlock.date}}</span>
    </div>
</div>
