<form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)" novalidate>

  <div class="contact-data col-md-12">
    <a href="tel:48537579280">
      <i class="fa fa-phone"></i>+48-537-579-280
    </a>
  </div>

  <div class="form-group input-wrapper"
       [ngClass]="{'has-error': !rForm.controls['name'].valid && rForm.controls['name'].touched}">
    <input
      id="name"
      type="text"
      formControlName="name"
      class="form-control input-field"
      (focus)="onFocus($event)">
    <label for="name">Name<span>*</span></label>
    <div class="alert-text" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
      {{ alertText }}
    </div>
  </div>

  <div class="form-group input-wrapper"
       [ngClass]="{'has-error': !rForm.controls['email'].valid && rForm.controls['email'].touched}">
    <input
      id="email"
      type="email"
      formControlName="email"
      class="form-control input-field"
      (focus)="onFocus($event)">
    <label for="email">Email<span>*</span></label>
    <div class="alert-text" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
      {{ alertText }}
    </div>
  </div>

  <div class="form-group input-wrapper"
       [ngClass]="{'has-error': !rForm.controls['messageText'].valid && rForm.controls['messageText'].touched}">
        <textarea
          id="messageText"
          formControlName="messageText"
          class="form-control input-field"
          (focus)="onFocus($event)">
        </textarea>
    <label for="messageText">Message<span>*</span></label>
    <div class="alert-text" *ngIf="!rForm.controls['messageText'].valid && rForm.controls['messageText'].touched">
      {{ alertText }}
    </div>
  </div>

  <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="!rForm.valid">
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
  </button>
</form>
